.cajaItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    border: solid green;
    padding: 20px;
    margin: 20px;
}