.cajaItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-around;
    font-weight: bold;
    border: solid black;
    padding: 20px;
    margin: 20px;
}

.texto{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}